import init.suez.usb.rc
import init.rc.ufsd

on boot
    # Adjust minimum free memory space (default is 2.5M)
    write /proc/sys/vm/min_free_kbytes 32768

on post-fs-data
    start amzn_drmprov
    start amzn_dha_hmac
#
# Connectivity related device nodes & configuration (begin)
#

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

#
# Connectivity related device nodes & configuration (end)
#


on init
#
# Connectivity related services (Begin)
#

service amzn_drmprov /vendor/bin/amzn_drmprov_check
	class main
	user root
	group system
	oneshot
	disabled

service amzn_dha_hmac /vendor/bin/amzn_dha_hmac
	class main
	user root
	group system
	oneshot
	disabled

service wmtLoader /vendor/bin/wmt_loader
    user root
    group root
    class core
    oneshot

service 66xx_launcher /vendor/bin/6620_launcher -m 4 -p /system/etc/firmware/
    user system
    group system
    class core

#monitor battery status
service bat_logging /vendor/bin/battery_lifetime_data
    class main
    user root
    group root

on property:sys.hwc.video_mode=1
    write /sys/devices/soc/soc:MTKFB@bf200000/backlight_mode mov

on property:sys.hwc.video_mode=0
    write /sys/devices/soc/soc:MTKFB@bf200000/backlight_mode off

on property:sys.battery_charging_cv_level=1
    write /sys/devices/mediatek,battery_common/Custom_Charging_Mode 1

on property:sys.battery_charging_cv_level=0
    write /sys/devices/mediatek,battery_common/Custom_Charging_Mode 0

on property:sys.touch_gesture_wakeup=1
    write /sys/bus/i2c/devices/7-0038/ftsgesturewakeup 1

on property:sys.touch_gesture_wakeup=0
    write /sys/bus/i2c/devices/7-0038/ftsgesturewakeup 0

#
# Connectivity related services (End)
#

